nodered/influxdb/NodeRED-Example.json
[{"id":"e14df7c.c351088","type":"websocket in","z":"1d8a289e.ec8d77","name":"things","server":"","client":"1a101cfc.582513","x":77,"y":65,"wires":[["52919f3.adc21e"]]},{"id":"4db70aee.85b13c","type":"websocket out","z":"1d8a289e.ec8d77","name":"things","server":"","client":"1a101cfc.582513","x":767,"y":556,"wires":[]},{"id":"7bb0fc2e.d86b64","type":"status","z":"1d8a289e.ec8d77","name":"","scope":["4db70aee.85b13c"],"x":79,"y":486,"wires":[["ce278c30.2bf6c8"]]},{"id":"ae4c7345.6c0ae8","type":"switch","z":"1d8a289e.ec8d77","name":"ignore empty status","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":456,"y":486,"wires":[["66204af2.474fec"]]},{"id":"ce278c30.2bf6c8","type":"function","z":"1d8a289e.ec8d77","name":"get status text","func":"msg.payload = msg.status.text;\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":486,"wires":[["ae4c7345.6c0ae8"]]},{"id":"66204af2.474fec","type":"switch","z":"1d8a289e.ec8d77","name":"if (status == connected)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connected ","vt":"str"}],"checkall":"true","outputs":1,"x":337,"y":556,"wires":[["b05c84b5.5c6f3"]]},{"id":"b05c84b5.5c6f3","type":"template","z":"1d8a289e.ec8d77","name":"START-SEND-EVENTS","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"START-SEND-EVENTS","x":574,"y":556,"wires":[["4db70aee.85b13c"]]},{"id":"cfebc87.afd6438","type":"comment","z":"1d8a289e.ec8d77","name":"Request Things events once connection is established","info":"","x":218,"y":445,"wires":[]},{"id":"bcfc4ec1.03c41","type":"comment","z":"1d8a289e.ec8d77","name":"Receive Things events, post-process and store them in InfluxDB","info":"","x":253,"y":26,"wires":[]},{"id":"3cbf1198.85dad6","type":"switch","z":"1d8a289e.ec8d77","name":"Filter out non-feature messages","property":"payload.path","propertyType":"msg","rules":[{"t":"regex","v":"/features/.+","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":489.5,"y":63,"wires":[["c5d07304.bf465"],[]]},{"id":"db277fa1.3f316","type":"debug","z":"1d8a289e.ec8d77","name":"","active":false,"console":"false","complete":"false","x":1009.0790252685542,"y":246.49999237060536,"wires":[]},{"id":"52919f3.adc21e","type":"function","z":"1d8a289e.ec8d77","name":"parse JSON","func":"try {\n    obj = JSON.parse(msg.payload);\n    msg.origPayload = msg.payload,\n    msg.payload = obj;\n} catch (e) {\n    node.log(\"Non-JSON message: '\" + msg.payload + \"'\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":254.65072631835938,"y":63.23161315917969,"wires":[["3cbf1198.85dad6"]]},{"id":"e0992033.0e727","type":"debug","z":"1d8a289e.ec8d77","name":"","active":false,"console":"false","complete":"false","x":439.5,"y":307,"wires":[]},{"id":"28408b14.c25ddc","type":"comment","z":"1d8a289e.ec8d77","name":"Your processing here","info":"","x":445,"y":166,"wires":[]},{"id":"c5d07304.bf465","type":"function","z":"1d8a289e.ec8d77","name":"value->payload, extract Thing ID","func":"\nvar thingsPayload = msg.payload;\n\nmsg.thingId = thingsPayload.topic.replace(/\\/things\\/twin.+/, \"\");\nmsg.feature = thingsPayload.path.replace(/\\/features\\//, \"\").replace(/\\//, \".\");\n\nmsg.payload.thingId = msg.thingId;\nmsg.payload.feature = msg.feature;\n\nreturn msg;","outputs":1,"noerr":0,"x":285.5,"y":197,"wires":[["e0992033.0e727"]]},{"id":"1a101cfc.582513","type":"websocket-client","z":"","path":"wss://TENANTID%5cUSERID:PASSWORD@things.apps.bosch-iot-cloud.com/ws/1?x-cr-api-token=APITOKEN","wholemsg":"false"}]